.banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 15rem;
  
    background-image: url("https://images.unsplash.com/photo-1536302829663-a460b9ec95b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1955&q=80");
    background-position: center;
    background-size: cover;
  
    &__title {
      color: rgba(255, 255, 255, 0.85);
      font-weight: bold;
    }
  }
  